<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Admin</display-name>
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.guest.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addTeacherSevlet</servlet-name>
    <servlet-class>com.guest.addTeacherSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTeacherSevlet</servlet-name>
    <url-pattern>/addTeacherSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removeTeacherServlet</servlet-name>
    <servlet-class>com.guest.removeTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeTeacherServlet</servlet-name>
    <url-pattern>/removeTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blockServlet</servlet-name>
    <servlet-class>com.guest.blockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blockServlet</servlet-name>
    <url-pattern>/blockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blockStudentServlet</servlet-name>
    <servlet-class>com.guest.blockStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blockStudentServlet</servlet-name>
    <url-pattern>/blockStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>com.guest.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removeStudentServlet</servlet-name>
    <servlet-class>com.guest.removeStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeStudentServlet</servlet-name>
    <url-pattern>/removeStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>questionServlet</servlet-name>
    <servlet-class>com.guest.questionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questionServlet</servlet-name>
    <url-pattern>/questionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>a_login</servlet-name>
    <servlet-class>com.guest.a_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a_login</servlet-name>
    <url-pattern>/a_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.guest.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/lo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.guest.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.guest.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/upda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>askServlet</servlet-name>
    <servlet-class>com.guest.askServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askServlet</servlet-name>
    <url-pattern>/askServl</url-pattern>
  </servlet-mapping>
</web-app>